<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="solutions.lhdev.carddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CardDemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <tools:validation testUrl="https://alumnos.lhdevsolutions.es/alumnos/1" />A

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alumnos.lhdevsolutions.es"
                    android:pathPrefix="/alumnos"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alumnos.lhdevsolutions.es"
                    android:pathPrefix="/alumnos"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:order="10">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alumnos.lhdevsolutions.es"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alumnos.lhdevsolutions.net"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewAlumnoActivity"
            android:label="@string/nuevoAlumnoTitle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="solutions.lhdev.carddemo.CardDemoActivity" />
        </activity>

        <provider
            android:name=".providers.AlumnosProvider"
            android:authorities="solutions.lhdev.carddemo.providers"
            android:enabled="true"
            android:exported="true"
            android:syncable="true"
            ></provider>

        <service
            android:name="solutions.lhdev.carddemo.syncAdapters.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="solutions.lhdev.carddemo.syncAdapters.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

</manifest>